.panelDiv {
    background-color: rgba(57, 57, 57, 0.8);
    position: absolute;
}

.panel-title {
    height: 50px;
    border-bottom: 5px solid rgba(34, 34, 34);
    position: relative;
}

.panel-title-h3 {
    display: inline-block;
    letter-spacing: 2px;
    font-size: 20px;
    padding-left: 15px;
    line-height: 50px;
}

.panel-title-img-a {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 20px;
}

.panel-arrow {
    cursor: pointer;
    position: absolute;
    top: 10px;
    margin-top: -5px;
    right: 30px;
    width: 16px;
    height: 12px;
    line-height: 12px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAOCAYAAAA1+Nx+AAAAhElEQVQ4ja2U0QrAIAhFb2P/bftyR9sii0yrXRB8iHO0BwMzAwDhzYV/UnjMTFySemxWxTsABDFzFPaV0MfICXnayHVWNqGGEZ/vFw92JF14K1iVqPCeYFYyhGsCr8SEjwSWxAW3BJrEDfcIehI33CvQJCZ8RtBKXPBU58Q5kCdA9noA3DnLac7QowMEAAAAAElFTkSuQmCC) no-repeat;
    background-size: contain;
    transition: all .5s linear;
}

.panel-close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    margin-top: -6.5px;
    right: 5px;
    width: 13px;
    height: 13px;
    line-height: 13px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA10lEQVQ4jY2TTQrCMBBGX2sUPaAgCrrpQlwInkJBdy5EQah/vVUv4aKuBJmSQrCTpN8u07zHJNMkZVnugDXwAFbAl3AMcAEmwF4EH2BokRewCEgELoCxXVcp8HQ2zIAb0OsAS64iWNoPIYkG58DG2Hbntjh1JNjjJB44E9bYQkgy8MFNa3SQqLAk/dvQSAraacGaAHvmvlLXai2BdttN1BGnETiPjdhE4MxZayOuxxiCmwvz/icCnyOwxDfitzymChgFYDdy9rsjqR/TQUzAMQK7nZxqBrY/6rpKQrpmG/wAAAAASUVORK5CYII=) no-repeat;
    background-size: contain
}

.panel-content {
    overflow-y: auto;
    overflow-x: auto;
}

.panelDiv-close {
    height: 50px !important;
}